{% extends "base.html.twig" %}

{% block title %}Show Deck{% endblock %}

{% block body %}
<h1>Current Deck</h1>
<div class="deck">
    {% for card in init_deck %}
        <span class="{{ card }}">{{ card }}</span>
    {% endfor %}
</div>
{% endblock %}
