{% extends "base.html.twig" %}
{% block title %}Card Game{% endblock %}
{% block body %}

<h1>Drawn cards</h1>
<div class="deck">
     {% for card in diceRoll %}
        <span class="{{ card }}">{{ card }}</span>
      {% endfor %}
    <p>Amount of cards left in the deck: {{ count }}</p>
</div>

{% endblock %}