{% extends "base.html.twig" %}

{% block title %}Shuffle Deck{% endblock %}

{% block body %}
<h1>Shuffled Deck </h1>
<div class="deck">
    {% for card in shuffled_deck %}
        <span class="{{ card }}">{{ card }}</span>
    {% endfor %}
</div>
{% endblock %}
