body {
    background-color: lightgray;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #B7DDE7;
}

main {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 100px;
}

h1 {
  border-bottom: 4px double #ccc;
}

.site-header {
  background-size: cover;
  height: 250px;
}

.site-title {
    font-size: 2em;
}

nav {
  background-color: #E8F2F1;
  font-size: 1.2em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #E8F2F1;
  text-align: center;
}

.simon {
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 20px;
}

.texten {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  padding-right: 50px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.vl {
  border-left: 3px solid #e8f2f1;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 180;
}

.die {
  font-size: 2em;
}

input {
  font-size: 1em;
}

.flash-notice {
  padding: 0.5em;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.flash-notice:before {
  content: "ⓘ";
}

.flash-warning {
  padding: 0.5em;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.flash-warning:before {
  content: "⚠";
}

.deck span {
  font-size: 95px;
}

span.🃁 ,.🃂,.🃃,.🃄,.🃅,.🃆,.🃇,.🃈,.🃉,.🃊,.🃋,.🃎,.🃍,
.🂱,.🂲,.🂳,.🂴,.🂵,.🂶,.🂷,.🂸,.🂹,.🂺,.🂻,.🂾,.🂽 {
  color: red;
}

span.🃑, .🃒, .🃓, .🃔, .🃕, .🃖, .🃗, .🃘, .🃙, .🃚, .🃛, .🃞, .🃝 {
  color:black;
}

.buttons {
  font-size: 20px;
}

.uml {
    width: 400px;
    height: 300px;
}
