{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}

<h1>Api</h1>
<hr>
<div class="buttons">
<form method="get" action="">
  <p>Click the button for a random quote</p>
  <input type="submit" name="quote" value="GET api/quote"
  onClick="this.form.action='{{ path('json_quote') }}';"
  >
  <hr>

  <p>Click on button to get a sorted deck</p>
  <input type="submit" name="sorted" value="GET api/deck"
  onClick="this.form.action='{{ path('api_deck_sorted') }}';"
  >
  <hr>
</form>
</div>


{% endblock %}
