{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block body %}
<h1>Card Game</h1>
<li><a href="{{ showdeck }}">Show current Deck</a></li>
<li><a href="{{ shuffledeck }}">Shuffle current Deck</a></li>
{% endblock %}