{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card Game</h1>
<form method="post" action="">
    <h4><li><a href="{{ showdeck }}" class="link1">Show Deck</a></li></h4>
    <h4><li><a href="{{ shuffledeck }}">Shuffle Deck</a></li></h4>
    <h4><li><a href="{{ drawcard }}">Draw Card</a></li></h4>
</form>
<br>
<img src="{{ asset('img/uml.png') }}" class="uml" width="500">
<p>Jag har skapat 3 olika klasser för denna uppgiften, Jag har skapat klasserna Card, DeckOfCard och DeckOfCardJoker.</p>

    <p>I klassen Card har jag skapat en metod som returnerar arrayen med alla korten. Metoden get_cards använder jag sedan
    genom komposition i klassen DeckOfCard.</p>

    <p>I min DeckOfCard klass har jag skapat fyra metoder, "get_deck, shuffle_deck, count och draw_card".</p>
    <h4>- get_deck returnerar en kortlek</h4>
    <h4>- shuffle_deck blandar och returnerar kortleken</h4>
    <h4>- count räknat antalet element i arrayen</h4>
    <h4>- draw_card drar ett kort från kortleken vilket gör att antalet kort blir mindre.</h4>

<p>I min klass DeckOfCardJoker så ärver jag från DeckOfCard vilket betyder att jag kommer åt alla metoder som finns i DeckOfCard även i DeckOfCardJoker.
    I min DeckOfCardJoker klass har jag skapat en metod, "add_joker" som lägger till 2 jokrar till kortleken.</p>

{% endblock %}
