{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p class="texten">Mitt namn är Simon Bosnjak. Född och uppvuxen i Landskrona, Skåne, 
    strax utanför Malmö. Jag har spelat fotboll sen barns ben och det är något 
    jag brinner för än idag. För tillfället så spelar jag i en klubb vid 
    namen IFK Karlshamn. Jag är som sagt uppvuxen i Landskrona där jag gick i grundskolan 
    och hade en bra uppväxt. Gymnasiet gick jag i Helsingborg med inriktning teknik 
    där jag hade tre fantastiska år, där jag fick lära mig mycket om teknikens värld
    men även hur det var att jobba utomlands. Jag hade min praktik i London och 
    det var fantastiskt roligt. På min fritid så tränar jag väldigt mycket, 
    både gym och fotboll. För tillfället studerar jag Webbprogrammering på BTH
    men har även läst basåret och ett år software engineering.

    <img src="{{ asset('img/simon.jpg') }}" class="simon">
</p> 
{% endblock %}